//////////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
/**
 * Fonts, text and background colours are applied here.
 *
 * See utilities.scss to edit these vars.
 */

body {
  @include selection-light;
  color: var(--primary-text-color);
  font-family: $fontSora;
  background-color: var(--background-color);
  transition: background-color 250ms;
  &.no-scroll {
    overflow-y: hidden;
  }
  &.no-cursor {
    cursor: none;
  }
}

[class~="grid"], [class*="grid-"], [class*="grid_"] {
  width: $gridWidth;
  margin: 0 auto;
  @include gridMaxMQ {
    width: 100%;
    padding: 0 4.1665%;
  }
  &[class*="-noGutter"] {
    margin: 0 auto;
  }
  &.full {
    width: 100%;
    max-width: $gridWidth;
    padding: 0 0.5rem;
    &.maxed {
      max-width: 90rem;
    }
  }
  &.max-height {
    height: 100%;
  }
  &.no-padding {
    padding: 0;
  }
}


///////////////////////////////////////////////////////////////////// Components
// -----------------------------------------------------------------------------
/**
 * Some existing component styles can be editted and imported from the adjacent
 * components directory. Custom files can be added and imported here too.
 */

.magnify-onhover {
  transition: 250ms ease-out;
  &:hover {
    transition: 250ms ease-in;
    transform: scale(1.05);
  }
}

@import 'components/chevron';
@import 'components/code';
@import 'components/markdown';
@import 'components/toast';
@import 'components/tooltip';
@import 'components/video-wrapper';
