// ////////////////////////////////////////////////////////////////// Typography
// -----------------------------------------------------------------------------
// =================================================================== Variables
/**
 * Variables specifying the font family declaration ($font_Primary) and the
 * location of the source font files ($fontAssetPath)
 */

 $fontSora: 'Sora';
 $fontSuisseIntl: 'SuisseIntl', sans-serif, monospace;
 $fontSuisseIntlMono: 'SuisseIntlMono', sans-serif, monospace;
 $fontAssetPath: 'assets/fonts';
 
 // -------------------------------------------------------- Suisse International
@font-face {
  font-family: 'Sora';
  src: url('#{$fontAssetPath}/sora/Sora-VariableFont_wght.ttf') format("truetype");
  font-weight: 100 1000;
  font-style: normal;
}
 
@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
 
@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
 
@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: bold;
}
 
@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

// --------------------------------------------------- Suisse International Mono
@font-face {
  font-family: 'SuisseIntlMono';
  src: url('#{$fontAssetPath}/suisse-intl-mono/SuisseIntlMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
 

// ///////////////////////////////////////////////////////// Basic Styles Mixins
// -----------------------------------------------------------------------------
/**
 * Mixins corresponding to most commonly used html text elements
 */

@mixin h1 {
  font-family: $fontSora;
  font-size: toRem(50);
  line-height: leading(70, 50);
  font-weight: 400;
  letter-spacing: 0.01em;
  @include small {
    font-size: toRem(30);
    line-height: leading(44, 30);
  }
}

@mixin h2 {
  font-family: $fontSora;
  font-size: toRem(40);
  line-height: leading(80, 40);
  font-weight: 600;
  letter-spacing: 0.01em;
  @include small {
    font-size: toRem(24);
    line-height: leading(67, 24);
  }
}

@mixin h3 {
  font-family: $fontSuisseIntl;
  font-size: toRem(24);
  line-height: leading(36, 24);
  font-weight: 500;
  letter-spacing: 0em;
  @include small {
    font-size: toRem(18);
    line-height: leading(25, 18);
  }
}

@mixin h4 {
  font-family: $fontSora;
  font-size: toRem(24);
  line-height: leading(36, 24);
  font-weight: 400;
  letter-spacing: 0.01em;
  @include small {
    font-size: toRem(18);
    line-height: leading(27, 18);
  }
}

@mixin h5 {
  font-family: $fontSora;
  font-size: toRem(18);
  line-height: leading(25, 18);
  font-weight: 600;
  @include small {
    font-size: toRem(16);
    line-height: leading(22, 16);
  }
}

@mixin h6 {
  font-family: $fontSora;
  font-size: toRem(16);
  line-height: leading(23, 16);
  font-weight: 700;
  @include small {
    font-size: toRem(14);
    line-height: leading(19, 14);
  }
}

@mixin p1 {
  font-family: $fontSuisseIntl;
  font-size: toRem(18);
  line-height: leading(27, 18);
  font-weight: 400;
  letter-spacing: 0.02em;
  @include small {
    font-size: toRem(14);
    line-height: leading(21, 14);
  }
}

@mixin p2 {
  font-family: $fontSuisseIntl;
  font-size: toRem(16);
  line-height: leading(24, 16);
  font-weight: 400;
  letter-spacing: 0.02em;
  @include small {
    font-size: toRem(13);
    line-height: leading(20, 13);
  }
}

@mixin inlineLink {
  color: $royalBlue;
}

/**
 * Mixin for text in <code> elements, see utitlies.scss to edit these vars
 */

@mixin inlineCode {
  color: var(--code__inline__color);
  background-color: var(--code__inline__background-color);
  padding: toRem(4) toRem(8);
  border-radius: toRem(4);
  font-family: $fontSuisseIntlMono;
  font-size: toRem(14);
  white-space: break-spaces;
  transition: background-color 500ms, color 500ms;
}

@mixin blockCode {
  background-color: var(--code__block__background-color);
  padding: toRem(10) toRem(16);
  margin-bottom: 1.25rem;
  border-radius: 0.625rem;
  font-size: toRem(13);
  line-height: leading(21, 14);
  font-family: $fontSuisseIntlMono;
  white-space: break-spaces;
  transition: background-color 500ms, color 500ms;
}

// ////////////////////////////////////////////////////////////////////// Sizing
// -----------------------------------------------------------------------------
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: none;
}

h1, .h1 {
  @include h1;
}

h2, .h2 {
  @include h2;
}

h3, .h3 {
  @include h3;
}

h4, .h4 {
  @include h4;
}

h5, .h5 {
  @include h5;
}

h6, .h6 {
  @include h6;
}

p,
.p1,
div,
a,
button {
  @include p1;
}

pre {
  @include blockCode;
  code {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
}

code {
  @include inlineCode;
}
