/**
 * This file should NOT contain any styling (classes or IDs). It should only contain
 * variables, functions, mixins, etc. If you want to override core utility functions
 * or mixins, you can do it here by including the entity with the same name.
 *
 * Because nuxt layers don't support merging of vite.css.preprocessorOptions.scss.additionalData
 * values between layers, this file is imported in the zero-core repo package
 */

// /////////////////////////////////////////////////////////////////// Variables
// -----------------------------------------------------------------------------
// ===================================================================== General
$siteHeaderHeight: toRem(83);
$siteHeaderHeightMobile: toRem(60);
$sidebarWidth: $gridWidth * 0.16667;
$bodyOffsetTop: calc($siteHeaderHeight + 3rem);
$sidebarPadding: 2rem;

// ===================================================================== Colours
$gray50: #FAFAFA;
$gray100: #F5F5F5;
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;

$blackPearl: #020714; // bluish black // nav background
$woodsmoke: #18181A; // black // text, button fill
$athensGray: #EAEAED; // light grey // nav text
$zircon: #F3F7FF; // very light blue // card background
$whiteLilac: #E8EDF6; // very light grey blue // section background
$periwinkle: #C4D5FF; // light purplish blue // text highlight
$perano: #ABBBED; // pale purple grey // hero text highlight
$cornflowerBlue: #648BF5; // mauve-blue // numbers
$royalBlue: #3F3CF6; // purplish blue // text-link
$scienceBlue: #0036DE; // blueblue // footer links
$toreaBay: #16308E; // navy blue // infographic
$canary: #E8FF5A; // neon yellow // button + update
$electricLime: #CDEE00; // darker neon yellow // button
$manz: #DCE76E; // dusty green yellow // graphs 

$replace1: #D9D9D9;
$replace2: #C6C6C6;
$replace3: #E8E8E8;
$replace4: #000000;

// ====================================================================== Themes
:root {
  --background-color: white;
  --background-color__secondary: #{$whiteLilac};
  --primary-text-color: #{$woodsmoke};
  // --theme-toggle__background-color: #{};
  // --theme-toggle__border-color: #{};
  // --theme-toggle__onHover: #{};
  // --theme-toggle__icon__onHover: #{};
  // --theme-color: #{};
  // --theme-color__inverted: #{};
  // --divider: #{};
  --link-color: #{$royalBlue};
  // --link-hover-color: #{};
  // --code__block__background-color: #{};
  // --code__inline__color: #{};
  // --code__inline__background-color: #{};
  // --sidebar__title-color: #{};
  // --sidebar__title-color__active: #{};
  // --algolia-backdrop: #{};
  // --algolia-background: #{};
  // --algolia__searchbox__background-color: white;
  // --algolia__result__background-color: white;
  // --algolia__result__hover__color: white;
  // --algolia__highlight: #{}; // not used because contrast too intense
  // --api-explorer__http-status-code__background-color: #{};
  // --api-explorer__http-status-code__color: #{};
}

// .dark {
//   --background-color: #{};
//   --background-color__secondary: #{};
//   --theme-toggle__background-color: #{};
//   --theme-toggle__border-color: #{};
//   --theme-toggle__onHover: #{};
//   --theme-toggle__icon__onHover: #{};
//   --theme-color: #{};
//   --theme-color__inverted: #{};
//   --divider: #{};
//   --link-color: #{};
//   --link-hover-color: #{};
//   --code__block__background-color: #{};
//   --code__inline__color: #{};
//   --code__inline__background-color: #{};
//   --sidebar__title-color: #{};
//   --sidebar__title-color__active: #{};
//   --algolia-backdrop: #{};
//   --algolia-background: #{};
//   --algolia__searchbox__background-color: #{};
//   --algolia__result__background-color: #{};
//   --algolia__result__hover__color: #{};
//   --algolia__highlight: #{};
//   --api-explorer__http-status-code__background-color: #{};
//   --api-explorer__http-status-code__color: #{};
// }

// ===================================================================== Styling
@mixin shadow1 {
  box-shadow: 0.125rem 0px 1rem 0.3125rem rgb(black, 0.7);
}

@mixin shadow2 {
  box-shadow: 0.125rem 0px 0.3125rem 0.25rem rgb(black, 0.4);
}

@mixin focusBoxShadow {
  box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.5);
}

@mixin focusBoxShadowSmall {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

@mixin focusBoxShadowLink {
  box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.5);
  border-radius: 0.125rem;
}

@mixin selection-dark {
  ::-moz-selection { background: unset; }
  ::selection { background: unset; }
}

@mixin selection-light {
  ::-moz-selection { background: unset; }
  ::selection { background: unset; }
}

@mixin radialGradientDarkBlue($position) {
  background: radial-gradient($position, #000F40 0%, #010613 72.8%);
}

@mixin gradientBlueBlue($angle) {
  background: linear-gradient($angle, $cornflowerBlue 1.52%, $scienceBlue 97.89%);
}

@mixin gradientYellowBlue($angle) {
  background: linear-gradient(95deg, $electricLime 1.52%, $royalBlue 97.89%);
}

@mixin gradientBlueBlueLight($angle) {
  background: linear-gradient($angle, $whiteLilac -47.32%, $royalBlue 92.44%);
}

@mixin gradientWhiteBlue($angle) {
  background: linear-gradient($angle, $whiteLilac 4.38%, $periwinkle 44.46%, $royalBlue 96.24%);
}

@mixin gradientTextBase {
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  // IE11 fix
  @include IE10and11 {
    background: none;
  }
  &::-moz-selection {
    -webkit-text-fill-color: white;
    -moz-text-fill-color: white;
    text-fill-color: white;
  }
  &::selection {
    -webkit-text-fill-color: white;
    -moz-text-fill-color: white;
    text-fill-color: white;
  }
}

@mixin gradientText($angle) {
  background: linear-gradient($angle, $zircon 6.23%, $whiteLilac 48.53%, $royalBlue 85.09%);
  @include gradientTextBase;
}