#content-nav {
  // =================================================================== Nav Links
  .link.button {
    transition: text-shadow 150ms ease;
    &:hover:not(.router-link-active){
      .button-label {
        text-shadow:
        0.25px 0.25px 0 var(--link-color),
        -0.25px 0.25px 0 var(--link-color),
        -0.25px -0.25px 0 var(--link-color),
        0.25px -0.25px 0 var(--link-color);
      }
    }
    &.router-link-active {
      .button-label {
        font-weight: 600;
      }
    }
  }
}
