// in <script> defaultSelectedLanguage computed as follows to fit repo specific language options structure:
// const defaultSelectedLanguage = languageOptions.value.findIndex(option => option.slug === route.params.language.toUpperCase())
#site-header {
  align-items: center;

  .logo {
    overflow: visible;
    .left-arrow,
    .right-arrow {
      transition: transform 500ms ease;
    }
    &:hover {
      .left-arrow {
        transform: translateX(-.3rem);
      }
      .right-arrow {
        transform: translateX(.3rem);
      }
    }
  }

  #site-nav {
    position: absolute;
    padding-left: 0;
    left: calc($sidebarWidth + toRem(50));
  }

  // ================================================================= Nav Links
  .site-nav-link {
    justify-content: center;
    &::before {
      bottom: toRem(-7);
      width: 80%;
      background-color: var(--primary-accent-color)
    }
    .text {
      font-weight: 600;
    }
  }
  // ============================================================== Theme Toggle
  #theme-toggle {
    width: toRem(60);
  }
  // ========================================================= Language Selector
  // zero-docs/components/dropdown-selector <template> altered to work with altered
  // props.options structure
  .dropdown-panel {
    .selector {
      &::before {
        background-color: var(--scrollbar-thumb-color);
      }
    }
    .panel-container {
    left: 0;
    }
    .panel {
      border: 2px solid var(--divider);
      background-color: var(--background-color__secondary);
      border-radius: 0;
      filter: none;
    }
  }
  .dropdown-option {
    width: 100%;
    text-align: right;
    &:not(:last-child){
      border-bottom: 2px solid var(--divider);
    }
    &:hover {
      color: var(--theme-color);
      background-color: var(--scrollbar-thumb-color);
    }
  }
}

